* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f4f4f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    width: 90%;
    max-width: 800px; 
    background-color: #fff; 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #010006;
    margin-bottom: 20px; 
}

.input-group {
    margin-bottom: 15px; 
    text-align: right; 
}

label {
    display: flex; 
    align-items: right; 
}

label img {
    width: 20px; 
    margin-right: 10px; 
}

input, .btn {
    width: 100%; 
    padding: 10px; 
    border-radius: 5px; 
}

input {
    border: 1px solid #ccc; 
    margin-top: 5px;
}

.btn {
    background-color: #3b82f6; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    margin-top: 10px; 
}

.btn:hover {
    background-color: #3b82f6; 
}

.login-link {
    margin-top: 20px; 
    font-size: 14px; 
}

.login-link a {
    color: #007bff; 
    text-decoration: none; 
}
